<!DOCTYPE html>

<html>
  <head>
    <title>Content Accessibility Diagnosis and Repairment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/styles_v2.css" />
  </head>


  <body>
  
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img class="bi me-2" width="40" height="32" src="../../static/icon.png" alt="Home">
        <span class="fs-4">ContentA11y Demo V2</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Videos</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>

    <div class="row">
      <!-- col 1: youtube embed + timeline vis -->
      <div class="col my-4 mx-2" id="video_embed_col">

        <div class="sticky-top">
        <h3>Video</h3>
        <!-- embedded video -->
  
        <iframe 
        style="width:100%;height:40vh"
        id="youtube-video"
        src="https://www.youtube.com/embed/{{ video_id|slice:':11' }}?enablejsapi=1"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
        </iframe>

        <!-- timeline pointer -->
        <div id="vl-parent">
            <div id="vl"></div>
          </div>
  
          <!-- audio timeline -->
          <div class="timeline" id="a-timeline">
            <h4>Audio Accessibility</h4>
            {% for audio_seg in audio_segs %}<svg class="a-timeline-svg" width="{{ audio_seg.norm_length }}%" height="20"><rect
              class="a-timeline-rect" 
              id="a{{audio_seg.seg_id}}"
              width="100%" height="100%"
              start_time="{{audio_seg.start_time}}"
              end_time="{{audio_seg.end_time}}"
              score="{{audio_seg.score}}"
              norm_score="{{audio_seg.norm_score}}"
              match_scores="{{audio_seg.match_scores}}"
              transcript="{{audio_seg.transcript}}"
              /></svg>{% endfor %}
          </div>
  
          <!-- visual timeline -->
          <div class="timeline" id="v-timeline">
            <h4>Visual Accessibility</h4>
            {% for visual_seg in visual_segs %}<svg class="v-timeline-svg" width="{{ visual_seg.norm_length }}%" height="20"><rect
                class="v-timeline-rect" 
                id="v{{visual_seg.seg_id}}"
                width="100%" height="100%"
                title="{{visual_seg.score}}"
                start_time="{{visual_seg.start_time}}"
                end_time="{{visual_seg.end_time}}"
                score="{{visual_seg.score}}"
                norm_score="{{visual_seg.norm_score}}"
                match_scores="{{visual_seg.match_scores}}"
                /></svg>{% endfor %}
          </div>

        <div class="preview">
          <h4>Captions Preview</h4>
          <p id="preview-captions"></p>
        </div>
        </div>
      </div>
        

      <!-- col 1.5: vertical timestamps -->
      <div class="col-auto my-4 mx-4">
        <div id="v-timestamps-col"></div>
      </div>

      <!-- col 1.7 vertical transcripts... -->
      <div class="col-2 my-4 mx-4">
        <div id="transcripts-div">
          {% for audio_seg in audio_segs %}
            {% if audio_seg.transcript == "NON-SPEECH" %}
              <div class="transcript card my-4" 
                   id="aseg{{audio_seg.seg_id}}"
                   seg_id="{{audio_seg.seg_id}}"
                   start_time="{{audio_seg.start_time}}"
                   end_time="{{audio_seg.end_time}}"
                   style="width: 18rem; height: {{audio_seg.length}}rem;">
                <div class="card-body">
                  NON-SPEECH
                </div>
              </div>

            {% else %}
              <div class="transcript my-4"
                   id="aseg{{audio_seg.seg_id}}"
                   seg_id="{{audio_seg.seg_id}}"
                   start_time="{{audio_seg.start_time}}"
                   end_time="{{audio_seg.end_time}}">
                {{audio_seg.transcript}}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <!-- col 2: Captions, audio accessibility -->
      <div class="col my-4 mx-2">
        
        <div class="sticky-top">
          <div id="captions-header">
            <h3>Captions</h3>
          </div>

          <!-- add cc -->
          <div class="add-cc my-4 input-group">
            <textarea type="text" class="form-control" id="text-add-cc" placeholder="Add captions to current timestamp"></textarea>
            <button class="btn btn-primary" type="button" id="btn-add-cc">Add</button>
          </div>
        </div>

        <div class="row" id="captions-div">

        </div>
      </div>




      <!-- col 3: Video Descripiton, visual accessibility -->
      <div class="col my-4 mx-2">
        
        <div class="sticky-top">
          <div id="description-header">
            <div id="description-heading">
              <h3>Video Description</h3>
            </div>
          </div>

          <!-- add ad -->
          <div class="add-ad my-4 input-group">
            <textarea type="text" class="form-control" id="text-add-ad" placeholder="Add description to current timestamp"></textarea>
            <button class="btn btn-primary" type="button" id="btn-add-ad">Add</button>
          </div>
        </div>

        <div id="descriptions-div">
         
        </div>
      </div>



      


    </div>


    <!-- Embed the youtube video, and add even listerners to jump to time -->
    <script src="https://www.youtube.com/iframe_api"></script>
    <!-- timeline -->
    <script src="../../static/js/video_v2.js"></script>
    <!-- Js for bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>

  

</html>
